@media screen and (min-width: 768px) {
    .rectangle {
        width: 20%;
        height: 21.6%;
        border-radius: 10px;
        background: #ffffff;
        border: 1px solid rgba(217, 217, 217, 1);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
        margin: 10px;
        position: relative;
        cursor: pointer;
    }

    .rectangle h3 {
        background: #ffffff;
    }

    .rectangle p {
        background: #ffffff;
    }

    .image {
        width: 100%;
        border-radius: 10px 10px 0px 0px;
        background: #ffffff;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    .title {
        font-family: Noto Sans KR;
        font-size: 16px;
        font-weight: 600;
        line-height: 23.17px;
        text-align: left;
        padding: 0 0 0 3%;
        margin: 0 0 5px 0;
    }
    .content {
        width: 100%;
        font-family: Noto Sans KR;
        font-size: 14px;
        font-weight: 400;
        line-height: 20.27px;
        text-align: left;
        padding: 2%;
        margin: 0 0 5px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-y: auto;
    }

    .cover {
        position: absolute; /* 부모 요소를 기준으로 오버레이 포지셔닝 */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* 반투명 검은색 오버레이 */
        border-radius: 10px;
        z-index: 0; /* 기존 콘텐츠 위에 표시되도록 z-index 설정 */
        pointer-events: none; /* 오버레이로 인해 기존 요소와의 상호작용이 막히지 않도록 설정 */
    }
}

@media screen and (max-width: 769px) {
    .rectangle {
        position: relative;
        width: 162px;
        height: 192px;
        border-radius: 10px;
        background: #ffffff;
        border: 1px solid #d9d9d9;
        box-shadow: 0px 0px 5px 0px #00000033;
        margin: 10px;
        cursor: pointer;
    }

    .rectangle h3 {
        background: #ffffff;
    }

    .rectangle p {
        background: transparent;
    }

    .image {
        width: 80%;
        border-radius: 10px 10px 0px 0px;
        background: #ffffff;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    .title {
        font-family: Noto Sans KR;
        font-size: 14px;
        font-weight: 600;
        text-align: left;
        padding: 0 0 0 3%;
        border-radius: 10px;
    }
    .content {
        width: 100%;
        font-family: Noto Sans KR;
        font-size: 10px;
        font-weight: 400;
        line-height: 20.27px;
        text-align: left;
        padding: 2%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-y: auto;
        border-radius: 10px;
    }

    .cover {
        position: absolute; /* 부모 요소를 기준으로 오버레이 포지셔닝 */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* 반투명 검은색 오버레이 */
        border-radius: 10px;
        z-index: 0; /* 기존 콘텐츠 위에 표시되도록 z-index 설정 */
        pointer-events: none; /* 오버레이로 인해 기존 요소와의 상호작용이 막히지 않도록 설정 */
    }
}
