@media screen and (min-width: 768px) {
    .rectangle {
        width: 20%;
        height: 21.6%;
        border-radius: 10px;
        background: #ffffff;
        border: 1px solid rgba(217, 217, 217, 1);
        box-shadow: 0px 0px 5px 0px #00000033;
        margin: 10px;
    }

    .rectangle h3 {
        background: #ffffff;
    }

    .rectangle p {
        background: #ffffff;
    }

    .image {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 10px 10px 0px 0px;
        background: #ffffff;
    }

    .title {
        font-family: Noto Sans KR;
        font-size: 16px;
        font-weight: 600;
        line-height: 23.17px;
        text-align: left;
        padding: 0 0 0 3%;
        margin: 0 0 5px 0;
    }
    .content {
        width: 100%;
        font-family: Noto Sans KR;
        font-size: 14px;
        font-weight: 400;
        line-height: 20.27px;
        text-align: left;
        padding: 2%;
        margin: 0 0 5px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-y: auto;
    }
}

@media screen and (max-width: 769px) {
    .rectangle {
        width: 20%;
        height: 21.6%;
        border-radius: 10px;
        background: #ffffff;
        border: 1px solid #d9d9d9;
        box-shadow: 0px 0px 5px 0px #00000033;
        margin: 10px;
    }
    .rectangle h3 {
        background: #ffffff;
    }

    .rectangle p {
        background: #ffffff;
    }

    .image {
        width: 100%;
        border-radius: 10px 10px 0px 0px;
        background: #ffffff;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    .title {
        font-family: Noto Sans KR;
        font-size: 14px;
        font-weight: 600;
        text-align: left;
        padding: 0 0 0 3%;
    }
    .content {
        width: 100%;
        font-family: Noto Sans KR;
        font-size: 10px;
        font-weight: 400;
        line-height: 20.27px;
        text-align: left;
        padding: 2%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-y: auto;
    }
}
