@media screen and (min-width: 768px) {
    .container {
        position: relative;
        width: 80%;
        margin-left: 5%;
    }

    .notice_index {
        position: absolute;
        z-index: 1;
        top: 3px;
        left: 17px;
        color: black;
        background-color: #9c9c9c1a;
        border: 0.7px solid #0000001a;
        border-radius: 13px;
        font-size: 15px;
        font-weight: 500;
        text-align: center;
        padding: 10px 20px;
        font-family: Noto Sans KR;
    }

    .notice_index:hover {
        font-weight: 700;
        font-size: 15px;
        color: #7bc8e0;
    }

    .notice_container {
        position: absolute;
        z-index: 2;
        top: 35px;
        left: 0px;
        width: 75%;
        font-family: Noto Sans KR;
        border-radius: 13px;
        margin-right: 9px;
        text-align: center;
        line-height: 26px;
        box-shadow: 0px 0px 3px 1px #00000033;
        padding: 15px 25px;
        background-color: #ffffff;
        border: #ffffff;
    }

    .div_notice {
        width: 100%;
        color: #52555b;
        font-size: 11px;
        font-weight: 350;
        background-color: #ffffff;
        border: #ffffff;
        font-family: Noto Sans KR;
    }

    .notice_div {
        display: flex;
        flex-direction: row;
    }

    .notice_div:hover {
        color: #7bc8e0;
    }

    .notice_title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background-color: #ffffff;
        border: #ffffff;
        font-family: Noto Sans KR;
        text-align: start;
        flex: 3;
    }

    .notice_line {
        background-color: #ffffff;
        border: #ffffff;
        text-align: center;
        flex: 0.2;
    }

    .notice_date {
        background-color: #ffffff;
        border: #ffffff;
        font-family: Noto Sans KR;
        text-align: end;
        flex: 1;
    }
}

@media screen and (max-width: 768px) {
    .container {
        position: relative;
        width: 100%;
    }

    .notice_index {
        width: 120px;
        position: absolute;
        z-index: 1;
        top: 3px;
        left: 15px;
        color: black;
        background-color: #9c9c9c1a;
        border: 0.7px solid #0000001a;
        border-radius: 13px;
        font-size: 15px;
        font-weight: 500;
        text-align: center;
        padding: 10px 20px;
        font-family: Noto Sans KR;
    }

    .notice_container {
        position: absolute;
        top: 35px;
        z-index: 2;
        left: 0px;
        width: 80%;
        background-color: #ffffff;
        border: #ffffff;
        border-radius: 13px;
        margin-right: 9px;
        text-align: center;
        font-family: Noto Sans KR;
        line-height: 26px;
        box-shadow: 0px 0px 3px 1px #00000033;
        padding: 15px 25px;
    }

    .div_notice {
        font-family: Noto Sans KR;
        /* display: flex; */
        /* flex-direction: row; */
        /* justify-content: space-between; */
        color: #52555b;
        font-size: 11px;
        font-weight: 350;
        background-color: #ffffff;
        border: #ffffff;
    }

    .notice_div {
        display: flex;
        flex-direction: row;
    }

    .notice_div:hover {
        color: #7bc8e0;
    }

    .notice_title {
        text-align: start;
        flex: 3;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background-color: #ffffff;
        border: #ffffff;
        font-family: Noto Sans KR;
    }

    .notice_title:hover {
        color: #7bc8e0;
    }

    .notice_line {
        text-align: center;
        flex: 0.2;
        background-color: #ffffff;
        border: #ffffff;
    }

    .notice_date {
        text-align: end;
        flex: 1;
        width: 15%;
        margin-left: 5px;
        margin-right: 25px;
        background-color: #ffffff;
        border: #ffffff;
        font-family: Noto Sans KR;
    }
}
