.notice_container {
    width: 70%;
    margin: 0 auto;
    padding: 50px 0px 100px 0px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 35px;
    font-size: 22px;
  }
  
  .notice_list {
    width: 100%;
    border-collapse: collapse;
  }
  
  .notice_header, .notice_item {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr 1fr 1fr;
    border: none;
    border-bottom: 0.5px solid #9C9C9C;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 5px;
    text-align: center;
  }
  
  .notice_header {
    background-color: #f4f4f4;
    font-weight: bold;
    font-size: 14px;
    border-top: 1px solid #202123;
  }
  
  .notice_item {
    color: #202123;
    background-color: #ffffff;
    font-size: 12px;
    /* transition: background-color 0.3s; */
  }
  
  /* .notice_item:hover {
    background-color: #f9f9f9;
  }
  
  .notice_item:nth-child(even) {
    background-color: #f4f4f4;
  }
  
  .notice_item:nth-child(odd) {
    background-color: #fff;
  } */
  
  .notice_title {
    text-align: start;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    list-style: none;
    padding: 8px 12px;
    border: 1px solid #E9E9E9;
  }
  
  .pagination_link {
    margin: 0 5px;
    padding: 8px 12px;
    border: 1px solid #E9E9E9;
    cursor: pointer;
    color: #626262;
  }
  
  .pagination_link_active {
    padding: 8px 12px;
    background-color: #7BC8E0;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: 600;
  }
  
  .pagination_link_disabled {
    color: #ccc;
    cursor: not-allowed;
  }
  