@media screen and (min-width: 769px) {
    .tag_container {
        display: flex;
        flex-direction: column;
        /* justify-content: center;
    align-items: center; */
        padding: 17px;
    }

    .tag_text {
        padding-top: 3px;
        font-size: 16px;
        font-weight: 350;
    }

    .tag_image {
        width: 48px;
        height: 45px;
    }
}

@media screen and (max-width: 768px) {
    .tag_container {
        display: flex;
        flex-direction: column;
        /* justify-content: center;
	align-items: center; */
        padding: 17px;
    }

    .tag_text {
        padding-top: 3px;
        font-size: 13px;
        font-weight: 350;
    }

    .tag_image {
        width: 40px;
        height: 35px;
    }
}
