@media screen and (min-width: 768px) {
    .password_total_div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 10%;
        margin-bottom: 20%;
    }

    .password_title {
        font-family: Noto Sans;
        font-weight: 700;
        font-size: 22px;
        line-height: 100%;
        color: #202123;
        margin-bottom: 54px;
        text-align: left;
    }

    .password_content_title {
        font-family: Noto Sans KR;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        color: #202123;
        text-align: left;
        margin-bottom: 13px;
    }

    .password_content_input {
        width: 472px;
        height: 55px;
        border-radius: 5px;
        border: 1.3px solid #9c9c9ccc;
        margin-bottom: 33px;
    }
    .content_pw_div {
        display: flex;
        flex-direction: row;
        position: relative;
    }
    .content_input_pw_img {
        width: 28px;
        height: 28px;
        position: absolute;
        top: 15px;
        left: 430px;
        cursor: pointer;
    }

    .password_confirm_button {
        width: 470px;
        height: 55px;
        border-radius: 5px;
        background: #7bc8e0;
        color: #ffffff;
        font-family: Noto Sans;
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        text-align: center;
        border: none;
        margin-bottom: 10%;
    }

    .message,
    .message_confirm {
        width: 461px;
        margin-top: -33px;
        margin-bottom: 35px;
        font-size: 13px;
    }
    .message {
        color: red;
    }
    .message_confirm {
        color: blue;
    }
}

@media screen and (max-width: 768px) {
    .password_total_div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20%;
        margin-bottom: 20%;
        width: 100%;
    }

    .password_title {
        font-family: Noto Sans;
        font-weight: 700;
        font-size: 22px;
        line-height: 100%;
        color: #202123;
        margin-bottom: 54px;
        text-align: left;
    }
    .password_content_div {
        width: 100%;
    }

    .password_content_title {
        font-family: Noto Sans KR;
        font-weight: 500;
        font-size: 17px;
        line-height: 100%;
        color: #202123;
        text-align: left;
        margin-bottom: 13px;
        margin-left: 5%;
    }

    .password_content_input {
        width: 90%;
        height: 50px;
        border-radius: 5px;
        border: 1.3px solid #9c9c9ccc;
        margin-bottom: 33px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .content_pw_div {
        display: flex;
        flex-direction: row;
        position: relative;
    }
    .content_input_pw_img {
        width: 28px;
        height: 28px;
        position: absolute;
        top: 10px;
        left: 86%;
        cursor: pointer;
    }

    .password_confirm_button {
        width: 90%;
        height: 50px;
        border-radius: 5px;
        background: #7bc8e0;
        color: #ffffff;
        font-family: Noto Sans;
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        text-align: center;
        border: none;
        margin-bottom: 10%;
    }

    .message,
    .message_confirm {
        width: 90%;
        margin-top: -33px;
        margin-bottom: 35px;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 13px;
    }
    .message {
        color: red;
    }
    .message_confirm {
        color: blue;
    }
}
