@media screen and (min-width: 768px) {
    .bookmark_div {
        margin-bottom: 200px;
    }
    .title {
        margin: 40px auto;
        width: 200px;
        height: 40px;
        font-family: Noto Sans KR;
        font-size: 24px;
        font-weight: 700;
        line-height: 34.75px;
        text-align: center;
    }

    .rectangle {
        align-items: center;
        width: 528px;
        height: 123px;
        top: 366px;
        left: 679px;
        border-radius: 15px;
        background-color: #ffffff;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        margin: auto;
        margin-bottom: 30px;
    }

    .club_name {
        font-family: Noto Sans KR;
        font-size: 18px;
        font-weight: 600;
        line-height: 26.06px;
        margin: auto;
        margin-left: 120px;
        padding-top: 30px;

    }

    .club_branch {
        font-family: Noto Sans KR;
        font-size: 13px;
        font-weight: 500;
        margin: auto;
        margin-left: 120px;
        padding-top: 5px;
    }

    .div {
        display: flex;
        float: right;
        padding-bottom: 10px;
    }

    .divRow {
        display: flex;
        justify-content: space-between;
        background-color: #ffffff;
    }

    .divRow a {
        background-color: #ffffff;
    }

    .bookmark_button_div {
        text-align: center;
    }

    .more_button {
        margin-top: 20px;
        padding-bottom: 5px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: white;
        border: 1.5px solid #7bc8e0;
        color: #7bc8e0;
        font-weight: 700;
    }

    .more_button:hover {
        background-color: #d3f2fbb7;
    }
}

@media screen and (max-width: 768px) {
    .bookmark_div {
        margin-bottom: 100px;
    }
    .title {
        margin: 40px auto;
        width: 200px;
        height: 40px;
        font-family: Noto Sans KR;
        font-size: 21px;
        font-weight: 500;
        line-height: 34.75px;
        text-align: center;
    }

    .rectangle {
        align-items: center;
        width: 300px;
        height: 100px;
        border-radius: 15px;
        background-color: #ffffff;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        margin: auto;
        margin-bottom: 20px;
    }

    .bookmark_ClubLogo {
        width: 80px !important;
        height: 80px !important;
        margin: 10px;
        margin-top: 10px;
        float: left;
        background-color: #ffffff;
    }

    .club_name {
        font-family: Noto Sans KR;
        font-size: 14px;
        font-weight: 500;
        /* line-height: 26.06px; */
        margin: auto;
        margin-left: 120px;
        padding-top: 30px;
        background-color: #ffffff;
    }
    .club_branch {
        font-family: Noto Sans KR;
        font-size: 13px;
        font-weight: 500;
        margin: auto;
        margin-left: 120px;
        padding-top: 5px;
        background-color: #ffffff;
    }

    .bookmark_icon {
        width: 32px;
        height: 32px;
        margin-right: 10px;
        margin-bottom: 15px;
        margin-top: -8px;
        background-color: #ffffff;
    }

    .div {
        display: flex;
        float: right;
        padding-bottom: 10px;
    }

    .divRow {
        display: flex;
        justify-content: space-between;
        background-color: #ffffff;
    }

    .divRow a {
        background-color: #ffffff;
    }

    .bookmark_button_div {
        text-align: center;
        background-color: #ffffff;
    }
    .more_button {
        margin-top: 15px;
        padding-bottom: 3px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: white;
        border: 1.5px solid #7bc8e0;
        color: #7bc8e0;
        font-weight: 700;
    }

    .more_button:hover {
        background-color: #d3f2fbb7;
    }
}
