.ClubName {
  font-family: Noto Sans KR;
  font-size: 20px;
  font-weight: 500;
  line-height: 26.06px;
  justify-content: start;
  padding-top: 5%;
  padding-left: 2%;
}
.ClubType {
  font-family: Noto Sans KR;
  font-size: 16px;
  font-weight: 400;
  line-height: 26.06px;
  justify-content: start;
  padding-right: 5px;
  display: flex;
  float: left;
}
