@media screen and (min-width: 768px) {
    .password_total_div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 10%;
        margin-bottom: 20%;
    }

    .content_div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 62px;
    }

    .total_title {
        font-family: Noto Sans;
        font-weight: 700;
        font-size: 22px;
        line-height: 100%;
        color: #202123;
    }

    .content_title {
        font-family: Noto Sans KR;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        color: #202123;
        text-align: left;
    }

    .content_id_div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* margin-bottom: 20px; */
    }

    .content_search_div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* margin-bottom: 20px; */
    }

    .input_email_div {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
    }

    .content_input,
    .content_input_id {
        border: 1.3px solid #9c9c9c80;
        border-radius: 5px;
        width: 538px;
        height: 55px;
        color: #202123;
        display: flex;
        align-items: center;
        padding-left: 11px;
        margin-top: 13px;
        margin-bottom: 50px;
        font-family: Noto Sans KR;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
    }

    .content_input_proof {
        margin-bottom: 0;
        position: relative;
        color: #a7a7a7cc;
        font-family: Noto Sans KR;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
    }

    .content_input_search {
        padding-left: 37px;
    }

    .content_input_email {
        border: 1.3px solid #9c9c9c80;
        border-radius: 5px;
        width: 416px;
        height: 55px;
        color: #202123;
        display: flex;
        align-items: center;
        padding-left: 11px;
        margin-top: 13px;
        margin-bottom: 70px;
        margin-right: 5px;
        font-size: 16px;
        font-family: Noto Sans KR;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
    }

    .message,
    .message_confirm,
    .message_email,
    .message_email_confirm,
    .message_code,
    .message_code_confirm {
        width: 538px;
        margin-top: -37px;
        margin-bottom: 35px;
        font-size: 13px;
    }
    .message {
        color: red;
    }
    .message_confirm {
        color: blue;
    }

    .message_email_confirm {
        margin-top: -67px;
        margin-bottom: 20px;
        color: blue;
    }

    .message_email {
        margin-top: -67px;
        margin-bottom: 20px;
        color: red;
    }

    .message_code {
        margin-top: -67px;
        color: red;
    }

    .message_code_confirm {
        margin-top: -67px;
        color: blue;
    }

    .content_input_email_button,
    .content_input_email_button_before {
        width: 116px;
        height: 55px;
        border-radius: 5px;
        border: none;
        background-color: #7bc8e0;
        font-family: Noto Sans KR;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        color: #ffffff;
        padding-bottom: 4px;
        cursor: pointer;
    }

    .content_input_email_button_before {
        background: var(--section, #d6d6d6);
        cursor: pointer;
    }

    .id_duplicate_check_button,
    .id_duplicate_check_button_before {
        width: 116px;
        height: 55px;
        background-color: #7bc8e0;
        color: white;
        border: none;
        border-radius: 5px;
        margin-top: 13px;
        cursor: pointer;
        font-family: Noto Sans KR;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        text-align: center;
    }

    .id_duplicate_check_button_before {
        background: #a7a7a780;
    }

    .sign_up_button,
    .sign_up_button_no {
        width: 538px;
        height: 55px;
        border: none;
        border-radius: 5px;
        background-color: #7bc8e0;
        color: white;
        font-family: Noto Sans;
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        text-align: center;
        margin-bottom: 100px;
        margin-top: 50px;
    }

    .sign_up_button_no {
        background-color: #9c9c9c80;
    }
}

@media screen and (max-width: 768px) {
    .password_total_div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20%;
        margin-bottom: 20%;
    }

    .content_div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 62px;
    }

    .total_title {
        font-family: Noto Sans;
        font-weight: 700;
        font-size: 22px;
        line-height: 100%;
        color: #202123;
    }

    .content_title {
        font-family: Noto Sans KR;
        font-weight: 500;
        font-size: 17px;
        line-height: 100%;
        color: #202123;
        text-align: left;
    }

    .content_title_div {
        width: 90%;
    }

    .content_id_div {
        display: flex;
        flex-direction: row;
        width: 90%;
    }

    .content_search_div {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .input_email_div {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        width: 90%;
    }

    .content_input,
    .content_input_id {
        border: 1.3px solid #9c9c9c80;
        border-radius: 5px;
        width: 100%;
        height: 50px;
        color: #202123;
        display: flex;
        align-items: center;
        padding-left: 11px;
        margin-top: 13px;
        margin-bottom: 40px;
        font-family: Noto Sans KR;
        font-weight: 400;
        font-size: 17px;
        line-height: 100%;
    }

    .content_input_proof {
        margin-bottom: 0;
        position: relative;
        color: #a7a7a7cc;
        font-family: Noto Sans KR;
        font-weight: 400;
        font-size: 17px;
        line-height: 100%;
    }

    .content_input_search {
        padding-left: 37px;
    }

    .content_input_email {
        border: 1.3px solid #9c9c9c80;
        border-radius: 5px;
        width: 70%;
        height: 50px;
        color: #202123;
        display: flex;
        align-items: center;
        padding-left: 11px;
        margin-top: 13px;
        margin-bottom: 65px;
        margin-right: 5px;
        font-size: 15px;
        font-family: Noto Sans KR;
        font-weight: 400;
    }

    .message,
    .message_confirm,
    .message_email,
    .message_email_confirm,
    .message_code,
    .message_code_confirm {
        width: 90%;
        margin-top: -35px;
        margin-bottom: 35px;
        font-size: 12px;
    }
    .message {
        color: red;
    }
    .message_confirm {
        color: blue;
    }

    .message_email_confirm {
        margin-top: -60px;
        margin-bottom: 30px;
        color: blue;
    }

    .message_email {
        margin-top: -60px;
        margin-bottom: 30px;
        color: red;
    }

    .message_code {
        margin-top: -60px;
        color: red;
    }

    .message_code_confirm {
        margin-top: -60px;
        color: blue;
    }

    .content_input_email_button,
    .content_input_email_button_before {
        width: 30%;
        height: 50px;
        border-radius: 5px;
        border: none;
        background-color: #7bc8e0;
        font-family: Noto Sans KR;
        font-weight: 400;
        font-size: 15px;
        line-height: 100%;
        color: #ffffff;
        padding-bottom: 4px;
        cursor: pointer;
    }

    .content_input_email_button_before {
        background: var(--section, #d6d6d6);
        cursor: pointer;
    }

    .id_duplicate_check_button,
    .id_duplicate_check_button_before {
        width: 30%;
        height: 50px;
        background-color: #7bc8e0;
        color: white;
        border: none;
        border-radius: 5px;
        margin-top: 13px;
        cursor: pointer;
        font-family: Noto Sans KR;
        font-weight: 400;
        font-size: 15px;
        line-height: 100%;
        text-align: center;
    }

    .id_duplicate_check_button_before {
        background: #a7a7a780;
    }

    .sign_up_button,
    .sign_up_button_no {
        width: 90%;
        height: 50px;
        border: none;
        border-radius: 5px;
        background-color: #7bc8e0;
        color: white;
        font-family: Noto Sans;
        font-weight: 700;
        font-size: 17px;
        line-height: 100%;
        text-align: center;
        margin-bottom: 100px;
    }

    .sign_up_button_no {
        background-color: #9c9c9c80;
    }
}
