@media screen and (min-width: 768px) {
    .notice_ranking_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 300px;
        width: 100%;
    }

    .ico_container {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    .main_promote_container {
        display: flex;
        flex-direction: column;
    }
    .main_container {
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 32px;
        margin-bottom: 220px;
    }

    .flex {
        display: flex;
    }

    .main_faq {
        background-color: #f1f1f1;
        width: 100%;
        padding-top: 30px;
        height: 100%;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 768px) {
    .notice_ranking_container {
        display: block;
        margin-top: 32px;
        margin-bottom: 270px;
    }

    .ico_container {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    .main_promote_container {
        display: flex;
        flex-direction: column;
    }
    .main_container {
        margin-left: 17%;
        margin-top: 60px;
        margin-bottom: 300px;
    }

    .flex {
        display: flex;
    }
}
