@media screen and (min-width: 768px) {
    .insta_icon {
        margin-top: 1%;
        margin-left: 3%;
        width: 20px;
        height: 20px;
    }

    .detailBody {
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 80%;
        margin-top: 10px;
        /* margin: 2.5% 10% 15% 20%; */
    }

    .detailBody h3 {
        width: fit-content;
        margin: 2.5% 0 2.5% 0;
        display: inline;
        box-shadow: inset 0 -15px 0 #7bc8e04d;
    }

    .detailBody p {
        margin-top: 1%;
        margin-left: 3%;
        width: 50%;
        text-align: left;
        /* border: 1px solid #9c9c9c80;*/
        padding: 1%;
    }

    .detail_body textarea {
        margin-top: 4%;
    }

    .ButtonDiv {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .CompleteButton {
        width: 110px;
        height: 40px;
        border-radius: 5px;
        background: #7bc8e0;
        color: white;
        display: flex;
        align-items: center;
        font-family: Noto Sans KR;
        font-size: 16px;
        font-weight: 500;
        /* margin-left: 35%; */
        padding-left: 39px;
        margin-right: 5%;
        border: none;
    }
    .CancelButton {
        width: 110px;
        height: 40px;
        border-radius: 5px;
        background: #7bc8e0;
        color: white;
        display: flex;
        align-items: center;
        font-family: Noto Sans KR;
        font-size: 16px;
        font-weight: 500;
        margin-left: 0;
        padding-left: 39px;
        /* margin-right: 20%; */
        border: none;
    }
}

@media screen and (max-width: 768px) {
    .insta_icon {
        margin-top: 1%;
        margin-left: 3%;
        width: 20px;
        height: 20px;
    }

    .association_btn {
        width: 160px;
        height: 30px;
        background-color: #7bc8e0;
        color: white;
        font-size: 12.5px;
        font-weight: 400;
        border-radius: 5px;
        /* text-align: center; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 0px 6px 0px 6px;
    }

    .detail_image {
        width: 30%;
        aspect-ratio: 1/1;
        object-fit: cover;
        margin-bottom: 2.5%;
    }

    .detail_tab {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 70%;
        height: 25px;
        background-color: #7bc8e04d;
    }

    .detailBody {
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 100%;
        margin-top: 2.5% 10% 15% 20%;
    }

    .detailBody h3 {
        width: fit-content;
        margin: 2.5% 0 2.5% 0;
        display: inline;
        box-shadow: inset 0 -15px 0 #7bc8e04d;
    }

    .detailBody p {
        margin-top: 1%;
        margin-left: 3%;
        width: 100%;
        text-align: left;
        /* border: 1px solid #9c9c9c80;*/
        padding: 1%;
    }

    .detail_body textarea {
        margin-top: 4%;
    }

    .CompleteButton {
        width: 90px;
        height: 35px;
        border-radius: 5px;
        background: #7bc8e0;
        color: white;
        display: flex;
        align-items: center;
        font-family: Noto Sans KR;
        font-size: 15px;
        font-weight: 500;
        margin-left: 20%;
        padding-left: 31px;
        margin-right: 5%;
        border: none;
    }
    .CancelButton {
        width: 90px;
        height: 35px;
        border-radius: 5px;
        background: #7bc8e0;
        color: white;
        display: flex;
        align-items: center;
        font-family: Noto Sans KR;
        font-size: 15px;
        font-weight: 500;
        margin-left: 0;
        padding-left: 31px;
        margin-right: 20%;
        border: none;
    }

    .ButtonDiv {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}
