@media screen and (min-width: 769px) {
    .font_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 13px;
        margin-bottom: 13px;
        border-top: 1px solid var(--section2, #a7a7a7);
    }
    .font_copyright {
        font-family: Noto Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 19.07px;
        text-align: center;
        color: #646464;
        margin-right: 22px;
        margin-bottom: 19px;
    }
    .font {
        font-family: Noto Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 19.07px;
        text-align: left;
        color: #646464;
        cursor: pointer;
        margin-bottom: 19px;
    }

    .font_set {
        display: flex;
    }

    .font_set a {
        text-decoration: none;
        display: flex;
        flex-direction: row;
    }

    .font:hover {
        color: #7bc8e0;
    }

    .vertical_line {
        color: #646464;
        font-size: 15px;
    }

    .footer {
        background-color: #f1f1f1;
        position: relative;
        transform: translateY(0%);
        height: 110px;
        width: 100%;
        border-top: 1px solid #f1f1f1;
        text-align: center;
        /* transform: translateY(100%); */
    }

    .footer_content {
        background: #f1f1f1;
    }

    .circle_div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 21px;
    }

    .circle_insta {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background: #ffffff;
        margin-right: 16px;
    }

    .circle_talk {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background: #ffffff;
    }

    .footer_insta {
        width: 24px;
        height: 24px;
        margin-top: 8px;
    }

    .p {
        font-family: Noto Sans KR;
        font-size: 13px;
        font-weight: 300;
        line-height: 20.27px;
        text-align: center;
        background: #f1f1f1;
    }
    .text_ContactUs {
        font-family: Noto Sans KR;
        font-size: 17px;
        font-weight: 300;
        line-height: 20.27px;
        text-align: center;
        margin-top: 23px;
    }
}

@media screen and (max-width: 769px) {
    .font_container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding-top: 13px;
        margin-bottom: 13px;
        padding-bottom: 20px;
        border-top: 1px solid var(--section2, #a7a7a7);
    }
    .font_copyright {
        font-family: Noto Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 19.07px;
        text-align: center;
        color: #646464;
    }
    .font {
        font-family: Noto Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 19.07px;
        text-align: left;
        color: #646464;
        cursor: pointer;
    }

    .font_set a {
        text-decoration: none;
        display: flex;
        flex-direction: row;
    }

    .vertical_line {
        color: #646464;
        font-size: 14px;
        padding-top: 1px;
    }

    .font_set {
        display: flex;
    }
    .font:hover {
        color: #7bc8e0;
    }
    .footer {
        background-color: #9c9c9c26;
        position: relative;
        transform: translateY(100%);
        height: 110px;
        width: 100%;
        border-top: 1px solid #9c9c9c26;
        text-align: center;
        padding: 0px;
    }

    .footer_content {
        background: #f1f1f1;
    }
    .circle_div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 21px;
    }
    .circle_insta {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background: #ffffff;
        margin-right: 13px;
        margin-top: 10px;
    }

    .circle_talk {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background: #ffffff;
        margin-top: 10px;
    }

    .footer_insta {
        width: 23.28px;
        height: 23.28px;
        margin-top: 8px;
    }

    .p {
        font-family: Noto Sans KR;
        font-size: 11px;
        font-weight: 300;
        line-height: 20.27px;
        text-align: center;
    }

    .text_ContactUs {
        font-family: Noto Sans KR;
        font-size: 16px;
        font-weight: 300;
        line-height: 20.27px;
        text-align: center;
        margin-top: 23px;
    }
}
