@media screen and (min-width: 769px) {
    .font_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 13px;
        margin-bottom: 13px;
        border-top: 2px solid var(--Main-Color, #7bc8e0);
    }
    .font {
        font-family: Noto Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 19.07px;
        text-align: left;
        color: #646464;
        cursor: pointer;
    }

    .font:hover {
        color: #7bc8e0;
    }

    .footer {
        background-color: #f1f1f1;
        position: relative;
        transform: translateY(0%);
        height: 110px;
        width: 100%;
        border-top: 1px solid #f1f1f1;
        text-align: center;
        padding: 10px;
    }

    .footer_content {
        background: #f1f1f1;
    }

    .circle_insta {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background: #ffffff;
        margin: auto;
    }

    .footer_insta {
        width: 23.28px;
        height: 23.28px;
        margin-top: 8px;
    }

    .p {
        font-family: Noto Sans KR;
        font-size: 13px;
        font-weight: 300;
        line-height: 20.27px;
        text-align: center;
        background: #f1f1f1;
    }
    .text_ContactUs {
        font-family: Noto Sans KR;
        font-size: 17px;
        font-weight: 300;
        line-height: 20.27px;
        text-align: center;
        margin-top: 23px;
    }
}
@media screen and (max-width: 769px) {
    .font_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 13px;
        margin-bottom: 13px;
        border-top: 2px solid var(--Main-Color, #7bc8e0);
    }
    .font {
        font-family: Noto Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 19.07px;
        text-align: left;
        color: #646464;
        cursor: pointer;
    }

    .font:hover {
        color: #7bc8e0;
    }
    .footer {
        background-color: #9c9c9c26;
        position: relative;
        transform: translateY(0%);
        height: 110px;
        width: 100%;
        border-top: 1px solid #9c9c9c26;
        text-align: center;
        padding: 0px;
    }

    .circle_insta {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background: #ffffff;
        margin: auto;
        margin-top: 10px;
    }

    .footer_insta {
        width: 23.28px;
        height: 23.28px;
        margin-top: 8px;
    }

    .p {
        font-family: Noto Sans KR;
        font-size: 11px;
        font-weight: 300;
        line-height: 20.27px;
        text-align: center;
    }
    .text_ContactUs {
        font-family: Noto Sans KR;
        font-size: 16px;
        font-weight: 300;
        line-height: 20.27px;
        text-align: center;
        margin-top: 23px;
    }
}
