@media screen and (min-width: 768px) {
    .signup_div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 67px;
    }

    .signup_logo {
        width: 410px;
        height: 134px;
    }

    .content_div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 62px;
    }

    .content_title {
        font-family: Noto Sans KR;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        color: #202123;
        text-align: left;
    }

    .content_id_div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* margin-bottom: 20px; */
    }

    .input_email_div {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
    }

    .content_input,
    .content_input_id,
    .content_input_proof,
    .content_input_search,
    .content_input_contact {
        border: 1.3px solid #9c9c9c80;
        border-radius: 5px;
        width: 472px;
        height: 55px;
        color: #202123;
        display: flex;
        align-items: center;
        padding-left: 11px;
        margin-top: 13px;
        margin-bottom: 50px;
        font-family: Noto Sans KR;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
    }

    .content_input_id {
        width: 351px;
        /* margin-bottom: 20px; */
    }

    .content_input_proof_div {
        position: relative;
        /* display: inline-block; */
    }

    .content_input_proof {
        margin-bottom: 0;
        position: relative;
        color: #a7a7a7cc;
        font-family: Noto Sans KR;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
    }

    .content_input_search {
        padding-left: 37px;
    }

    .content_input_email {
        border: 1.3px solid #9c9c9c80;
        border-radius: 5px;
        width: 349px;
        height: 55px;
        color: #202123;
        display: flex;
        align-items: center;
        padding-left: 11px;
        margin-top: 13px;
        margin-bottom: 40px;
        margin-right: 5px;
        font-size: 16px;
        font-family: Noto Sans KR;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
    }

    .content_input_contact {
        margin-bottom: 17px;
    }

    .contact_title {
        font-family: Noto Sans KR;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        color: #202123;
    }

    .id_duplicate_check_button,
    .id_duplicate_check_button_before {
        width: 116px;
        height: 55px;
        background-color: #7bc8e0;
        color: white;
        border: none;
        border-radius: 5px;
        margin-top: 13px;
        cursor: pointer;
        font-family: Noto Sans KR;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        text-align: center;
    }

    .id_duplicate_check_button_before {
        background: #a7a7a780;
    }

    .message,
    .message_confirm,
    .message_email,
    .message_email_confirm,
    .message_code,
    .message_code_confirm {
        width: 461px;
        margin-top: -37px;
        margin-bottom: 35px;
        font-size: 13px;
    }
    .message {
        color: red;
    }
    .message_confirm {
        color: blue;
    }

    .message_email_confirm {
        margin-bottom: 20px;
        color: blue;
    }

    .message_email {
        margin-bottom: 20px;
        color: red;
    }

    .message_code {
        margin-top: -47px;
        color: red;
    }

    .message_code_confirm {
        margin-top: -47px;
        color: blue;
    }

    .content_notice_p {
        width: 461px;
        font-family: Noto Sans KR;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        color: #777777;
        margin-top: 9px;
        margin-bottom: 7px;
    }

    .proof_img {
        width: 31px;
        height: 29px;
        margin-right: 4px;
        cursor: pointer;
    }

    .proof_p {
        font-family: Noto Sans KR;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        color: #a7a7a7cc;
    }

    .content_input_email_button,
    .content_input_email_button_before {
        width: 116px;
        height: 55px;
        border-radius: 5px;
        border: none;
        background-color: #7bc8e0;
        font-family: Noto Sans KR;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        color: #ffffff;
        padding-bottom: 4px;
        cursor: pointer;
    }

    .content_input_email_button_before {
        background: var(--section, #d6d6d6);
        cursor: pointer;
    }

    .content_pw_div {
        display: flex;
        flex-direction: row;
        position: relative;
    }

    .content_input_pw_img {
        width: 28px;
        height: 28px;
        position: absolute;
        top: 26px;
        left: 430px;
        cursor: pointer;
    }

    .content_search_div {
        display: flex;
        flex-direction: row;
        position: relative;
    }

    .content_search_img {
        width: 23px;
        height: 23px;
        position: absolute;
        top: 30px;
        left: 11px;
        cursor: pointer;
    }

    .content_option_p {
        font-family: Noto Sans KR;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: #fd3c56;
        text-align: end;
    }

    .sign_up_button {
        width: 471px;
        height: 55px;
        border: none;
        border-radius: 5px;
        background-color: #7bc8e0;
        color: white;
        font-family: Noto Sans;
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        text-align: center;
        margin-bottom: 100px;
        margin-top: 50px;
    }
}
