@media screen and (min-width: 769px) {
    .wrapper {
        padding: 0% 16%;
        width: 100%;
    }

    .tags_wrapper {
        display: flex;
        flex-direction: row;
        overflow: auto;
        white-space: no-wrap;
    }
}

@media screen and (max-width: 769px) {
    .wrapper {
        padding: 0% 10%;
        width: 100%;
    }

    .tags_wrapper {
        display: flex;
        flex-direction: row;
        overflow: auto;
        white-space: no-wrap;
    }
}