@media screen and (min-width: 768px) {
    .qna_div {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 20%;
    }

    .qna_title {
        font-family: Noto Sans;
        font-size: 26px;
        font-weight: 700;
        line-height: 35.41px;
        text-align: center;
        color: #202123;
        margin-top: 47px;
        margin-bottom: 20px;
    }

    .faq_title {
        font-family: Noto Sans;
        font-size: 26px;
        font-weight: 700;
        line-height: 35.41px;
        text-align: left;
        color: #202123;
        margin-top: 65px;
        margin-left: 5%;
    }

    .faq_container {
        display: flex;
        flex-direction: row;
        margin-bottom: 60px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .faq_rectangle {
        width: 285px;
        height: 97px;
        border-radius: 20px;
        background: #ffffff;
        border: 1px solid #9c9c9c4d;
        box-shadow: 0px 0px 2px 1px #0000000d;
        margin-top: 36px;
        margin-right: 20px;
        display: block;
        flex-direction: row;
        margin-bottom: 70px;
    }

    .faq_Q {
        font-family: Plus Jakarta Sans;
        font-size: 20px;
        font-weight: 700;
        line-height: 25.2px;
        text-align: left;
        color: #202123;
        margin-left: 20px;
        margin-top: 20px;
        margin-right: 8px;
        /* display: contents; */
    }

    .faq_question {
        font-family: Noto Sans KR;
        font-size: 18px;
        font-weight: 600;
        line-height: 26.06px;
        text-align: left;
        margin-top: 20px;
        color: #202123;
        /* display: contents; */
    }
    .faq_answer_div {
        position: absolute;
        background: #d6d6d633;
        width: 70%;
        margin-top: 140px;
        border-bottom: 1.5px solid #d6d6d6cc;
    }
    .faq_answer {
        height: 95px;
        margin-bottom: 50px;
        z-index: 100;
        padding-top: 10px;
        /* justify-content: center; */

        width: 100%;
    }

    .faq_answer_content {
        font-family: Noto Sans KR;
        font-size: 18px;
        font-weight: 400;
        line-height: 26.06px;
        text-align: left;
        margin-top: 10px;
        margin-left: 28px;
    }
}

@media screen and (max-width: 768px) {
    .qna_div {
        margin-left: 10%;
        margin-right: 5%;
    }

    .qna_title {
        font-family: Noto Sans;
        font-size: 24px;
        font-weight: 600;
        line-height: 35.41px;
        text-align: center;
        color: #202123;
        margin-top: 47px;
    }

    .faq_title {
        font-family: Noto Sans;
        font-size: 23px;
        font-weight: 600;
        line-height: 35.41px;
        text-align: left;
        color: #202123;
        margin-top: 65px;
    }

    .faq_container {
        display: flex;
        flex-direction: row;
        margin-bottom: 50px;
    }

    .faq_rectangle {
        width: 285px;
        height: 97px;
        border-radius: 20px;
        background: #ffffff;
        border: 1px solid #9c9c9c4d;
        box-shadow: 0px 0px 2px 1px #0000000d;
        margin-top: 36px;
        margin-right: 20px;
        display: flex;
        flex-direction: row;
        margin-bottom: 100px;
    }

    .faq_Q {
        font-family: Plus Jakarta Sans;
        font-size: 18px;
        font-weight: 600;
        line-height: 25.2px;
        text-align: left;
        color: #202123;
        margin-left: 20px;
        margin-top: 20px;
        margin-right: 8px;
        /* display: contents; */
    }

    .faq_question {
        font-family: Noto Sans KR;
        font-size: 17px;
        font-weight: 600;
        line-height: 26.06px;
        text-align: left;
        margin-top: 20px;
        color: #202123;
        /* display: contents; */
    }

    .faq_answer_div {
        position: absolute;
        background: #d6d6d633;
        width: 80%;
        margin-top: 140px;
        border-bottom: 1.5px solid #d6d6d6cc;
    }

    .faq_answer {
        height: 95px;
        /* margin-bottom: 50px; */
        z-index: 100;
        padding-top: 10px;
        /* justify-content: center; */
        width: 100%;
    }

    .faq_answer_content {
        font-family: Noto Sans KR;
        font-size: 18px;
        font-weight: 400;
        line-height: 26.06px;
        text-align: left;
        margin-top: 10px;
        margin-left: 28px;
    }
}
