@media screen and (min-width: 768px) {
    .qna_div {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 20%;
    }

    .qna_title {
        font-family: Noto Sans;
        font-size: 26px;
        font-weight: 700;
        line-height: 35.41px;
        text-align: center;
        color: #202123;
        margin-top: 47px;
        margin-bottom: 20px;
    }

    .faq_title {
        font-family: Noto Sans;
        font-size: 26px;
        font-weight: 700;
        line-height: 35.41px;
        text-align: left;
        color: #202123;
        margin-top: 65px;
    }

    .faq_container {
        display: flex;
        flex-direction: row;
        margin-bottom: 70px;
    }

    .faq_rectangle {
        width: 285px;
        height: 97px;
        border-radius: 20px;
        background: #ffffff;
        border: 1px solid #9c9c9c4d;
        box-shadow: 0px 0px 2px 1px #0000000d;
        margin-top: 36px;
        margin-right: 20px;
        display: block;
        flex-direction: row;
        margin-bottom: 20px;
    }

    .faq_Q {
        font-family: Plus Jakarta Sans;
        font-size: 20px;
        font-weight: 700;
        line-height: 25.2px;
        text-align: left;
        color: #202123;
        margin-left: 20px;
        margin-top: 20px;
        margin-right: 8px;
        /* display: contents; */
    }

    .faq_question {
        font-family: Noto Sans KR;
        font-size: 18px;
        font-weight: 600;
        line-height: 26.06px;
        text-align: left;
        margin-top: 20px;
        color: #202123;
        /* display: contents; */
    }
    .faq_answer_div {
        display: flex;
        position: absolute;
        background: #a7a7a780;
        width: 80%;
    }

    /* .faq_answer_rectangle {
   
        width: 285px;
        height: 110px;
        background: #a7a7a780;
        position: relative;
        margin-top: 10px;
        border-radius: 20px;
        border: 1px solid #a7a7a780;
        box-shadow: 0px 0px 2px 1px #0000000d;
    } */
    /* 
    .faq_answer_rectangle::after {
        content: '';
        position: absolute;
        top: -16px;
        left: 30px;
        width: 30px;
        height: 30px;
        background: #ffffff;
        border-left: 1px solid #a7a7a780;
        border-top: 1px solid #a7a7a780;
        box-shadow: 0px 0px 2px 1px #0000000d;
        transform: rotate(45deg);
        z-index: 0;
    }

    .faq_right_answer_rectangle {
      
        width: 285px;
        height: 110px;
        background: #ffffff;
        position: relative;
        margin-top: 10px;
        border-radius: 20px;
        border: 1px solid #a7a7a780;
        box-shadow: 0px 0px 2px 1px #0000000d;
        display: block;
    }

    .faq_right_answer_rectangle::after {
        content: '';
        position: absolute;
        top: -16px;
        left: 220px;
        width: 30px;
        height: 30px;
        background: #ffffff;
        border-left: 1px solid #a7a7a780;
        border-top: 1px solid #a7a7a780;
        box-shadow: 0px 0px 2px 1px #0000000d;
        transform: rotate(45deg);
        z-index: 0;
    } 
				*/

    .faq_answer {
        display: flex;
        position: absolute;
        margin-left: 20px;
        margin-bottom: 50px;
        z-index: 100;
        padding-top: 10px;
        justify-content: center;
    }

    .faq_answer_content {
        width: 390px;
        height: 56px;
        font-family: Noto Sans KR;
        font-size: 18px;
        font-weight: 400;
        line-height: 26.06px;
        text-align: left;
        margin-top: 10px;
        margin-left: 5px;
    }
}

@media screen and (max-width: 768px) {
    .qna_div {
        margin-left: 10%;
        margin-right: 5%;
    }

    .qna_title {
        font-family: Noto Sans;
        font-size: 24px;
        font-weight: 600;
        line-height: 35.41px;
        text-align: center;
        color: #202123;
        margin-top: 47px;
    }

    .faq_title {
        font-family: Noto Sans;
        font-size: 23px;
        font-weight: 600;
        line-height: 35.41px;
        text-align: left;
        color: #202123;
        margin-top: 65px;
    }

    .faq_container {
        display: flex;
        flex-direction: row;
        margin-bottom: 50px;
    }

    .faq_rectangle {
        width: 285px;
        height: 97px;
        border-radius: 20px;
        background: #ffffff;
        border: 1px solid #9c9c9c4d;
        box-shadow: 0px 0px 2px 1px #0000000d;
        margin-top: 36px;
        margin-right: 20px;
        display: flex;
        flex-direction: row;
        margin-bottom: 300px;
    }

    .faq_Q {
        font-family: Plus Jakarta Sans;
        font-size: 18px;
        font-weight: 600;
        line-height: 25.2px;
        text-align: left;
        color: #202123;
        margin-left: 20px;
        margin-top: 20px;
        margin-right: 8px;
        /* display: contents; */
    }

    .faq_question {
        font-family: Noto Sans KR;
        font-size: 17px;
        font-weight: 600;
        line-height: 26.06px;
        text-align: left;
        margin-top: 20px;
        color: #202123;
        /* display: contents; */
    }

    .faq_answer_div {
        position: absolute;
    }

    .faq_answer_rectangle {
        /* width: 443px; */
        width: 220px;
        height: 110px;
        background: #ffffff;
        position: relative;
        margin-top: 130px;
        border-radius: 20px;
        border: 1px solid #a7a7a780;
        box-shadow: 0px 0px 2px 1px #0000000d;
    }

    .faq_answer_rectangle::after {
        content: '';
        position: absolute;
        top: -16px;
        left: 30px;
        width: 30px;
        height: 30px;
        background: #ffffff;
        border-left: 1px solid #a7a7a780;
        border-top: 1px solid #a7a7a780;
        box-shadow: 0px 0px 2px 1px #0000000d;
        transform: rotate(45deg);
        z-index: 0;
    }

    .faq_right_answer_rectangle {
        /* width: 443px; */
        width: 220px;
        height: 110px;
        background: #ffffff;
        position: relative;
        margin-top: 130px;
        border-radius: 20px;
        border: 1px solid #a7a7a780;
        box-shadow: 0px 0px 2px 1px #0000000d;
    }

    .faq_right_answer_rectangle::after {
        content: '';
        position: absolute;
        top: -16px;
        left: 50px;
        width: 30px;
        height: 30px;
        background: #ffffff;
        border-left: 1px solid #a7a7a780;
        border-top: 1px solid #a7a7a780;
        box-shadow: 0px 0px 2px 1px #0000000d;
        transform: rotate(45deg);
        z-index: 0;
    }

    .faq_answer {
        display: flex;
        position: absolute;
        margin-left: 20px;
        margin-bottom: 50px;
        z-index: 100;
        padding-top: 10px;
        justify-content: center;
    }

    .faq_answer_content {
        width: 240px;
        height: 30px;
        font-family: Noto Sans KR;
        font-size: 17px;
        font-weight: 400;
        line-height: 26.06px;
        text-align: left;
        margin-top: 10px;
        margin-left: 5px;
    }
}
