@media screen and (min-width: 768px) {
    .review_box_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 150px;
    }

    .review_box_container {
        width: 470px;
        background-color: white;
        box-shadow: 0px 0px 4px 0px #0000004d;
        border-radius: 15px;
        margin-bottom: 15px;
        padding: 16px 18px;
    }

    .review_box_header {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
    }

    .review_box_header p {
        font-size: 16px;
        font-weight: 700;
        margin-right: 7px;
    }

    .review_box_header span {
        font-size: 12px;
        font-weight: 400;
        color: gray;
        margin-top: 4px;
    }

    .review_box_contents {
        /* display: grid;
        grid-template-columns: repeat(3, 1fr); */
        display: flex;
        flex-wrap: wrap;
        gap: 7px;
        margin-top: 10px;
    }

    .keyword_container {
        display: inline-block;
        background-color: #9c9c9c26;
        border-radius: 5px;
        padding: 7px 9px;
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 1px;
        max-width: calc(35%);
    }

    .review_box p {
        margin-top: 8px;
        font-size: 13px;
    }
}

@media screen and (max-width: 768px) {
    .review_box_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 150px;
    }

    .review_box_container {
        width: 125%;
        background-color: white;
        box-shadow: 0px 0px 4px 0px #0000004d;
        border-radius: 15px;
        margin-bottom: 15px;
        padding: 16px 18px;
    }

    .review_box_header {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .review_box_header p {
        font-size: 13px;
        font-weight: 700;
        margin-right: 7px;
    }

    .review_box_header span {
        font-size: 11px;
        font-weight: 400;
        color: gray;
    }

    .review_box_contents {
        display: grid;
        /* 한 줄에 세개의 열 */
        /* grid-template-columns: repeat(3, 1fr);*/
        gap: 5px;
        margin-top: 7px;
        /* width: 100%; */
    }

    .keyword_container {
        background-color: #9c9c9c26;
        border-radius: 5px;
        border: none;
        padding: 7px 10px;
        font-size: 13px;
        font-weight: 400;
        /* width: 30%;
	flex: 1; */
    }

    .review_box p {
        margin-top: 5px;
        font-size: 14px;
    }
}