.button_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    position: relative;
    z-index: 1000;
}

.ok_button {
    /* width: 101px;
    height: 35px; */
    padding: 10px 35px;
    margin-top: 18px;
    border-radius: 5px;
    border: none;
    background-color: #7bc8e0;
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}

.cancel_button {
    /* width: 101px;
    height: 35px; */
    padding: 10px 35px;
    margin-top: 18px;
    border-radius: 5px;
    border: none;
    background-color: #9c9c9c;
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}

@media (max-width: 480px) {
    .ok_button, .cancel_button {
        padding: 7px 30px;
        font-size: 13px;
        margin-top: 14px;
    }
}