.notice_container {
    width: 57%;
    height: 215px;
    background-color: white;
    border: 3px solid #60c1c3;
    border-radius: 20px;
    margin-right: 9px;
    text-align: center;
    font-family: Noto Sans KR;
    font-size: 18px;
    font-weight: 500;
    line-height: 26.06px;
    box-shadow: 0px 0px 5px 1px #00000033;
}
.img_notice {
    width: 5px;
    height: 5px;
    color: black;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
    vertical-align: middle;
}
.div_notice {
    margin-top: 9px;
    align-items: center;
}
