@media screen and (min-width: 769px) {
    .footer {
        background-color: #9c9c9c26;
        position: relative;
        transform: translateY(0%);
        height: 110px;
        width: 100%;
        border-top: 1px solid #9c9c9c26;
        text-align: center;
        padding: 10px;
    }

    .p {
        font-family: Noto Sans KR;
        font-size: 13px;
        font-weight: 300;
        line-height: 20.27px;
        text-align: center;
    }
    .text_ContactUs {
        font-family: Noto Sans KR;
        font-size: 17px;
        font-weight: 300;
        line-height: 20.27px;
        text-align: center;
        margin-top: 23px;
    }
}
@media screen and (max-width: 769px) {
    .footer {
        background-color: #9c9c9c26;
        position: relative;
        transform: translateY(0%);
        height: 110px;
        width: 100%;
        border-top: 1px solid #9c9c9c26;
        text-align: center;
        padding: 0px;
    }

    .p {
        font-family: Noto Sans KR;
        font-size: 11px;
        font-weight: 300;
        line-height: 20.27px;
        text-align: center;
    }
    .text_ContactUs {
        font-family: Noto Sans KR;
        font-size: 16px;
        font-weight: 300;
        line-height: 20.27px;
        text-align: center;
        margin-top: 23px;
    }
}
